.animateIn {
    animation:animateIn .5s forwards;
}
.animateOut {
    animation: animateOut .5s forwards;
}
@keyframes animateIn {
    0% {
        top:45%;
    }
    25% {
        top:55%;
    }
    50% {
        top:45%;
    }
    100% {
        top:45%;
    }
}

    @keyframes animateOut {
        0%{
            top: 55%;
        }
        25% {
            top:50%;
        }
        50% {
            top:45%;
        }
        100% {
            top:320vh;
        }
    }